
#include "resource.h"
#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_FILTER_CONFIG DIALOG 0, 0, 207, 155
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "layertool setting"
FONT 9, "MS SHELL DLG"
BEGIN
	DEFPUSHBUTTON	"OK",					IDOK,		45, 119, 50, 15 
	PUSHBUTTON		"Cancel",				IDCANCEL,	100, 119, 50, 15 
	PUSHBUTTON		"Show preview",			IDPREVIEW,	153, 119, 50, 15 

	EDITTEXT		IDC_FC_SCRIPT,		3, 140, 201, 12, ES_LEFT | ES_NOHIDESEL | ES_READONLY | ES_AUTOHSCROLL

	GROUPBOX		"Layer Setting",		IDC_STATIC,	3, 3, 98, 111 
	RTEXT			"Operation",			IDC_STATIC,	7, 18, 35, 7 
	RTEXT			"Level",				IDC_STATIC,	7, 33, 35, 7 
	RTEXT			"X",					IDC_STATIC,	7, 48, 35, 7 
	RTEXT			"Y",					IDC_STATIC,	7, 66, 35, 7 
	RTEXT			"Threshold",			IDC_STATIC,	7, 82, 35, 7 
	COMBOBOX		IDC_FC_OPERATION,	47, 15, 50, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	EDITTEXT		IDC_FC_LEVEL,		47, 31, 40, 12, ES_LEFT | WS_BORDER | ES_NUMBER
	EDITTEXT		IDC_FC_POSX,		47, 47, 40, 12, ES_LEFT | WS_BORDER
	EDITTEXT		IDC_FC_POSY,		47, 64, 40, 12, ES_LEFT | WS_BORDER
	EDITTEXT		IDC_FC_THRESHOLD,	47, 80, 40, 12, ES_LEFT | WS_BORDER | ES_NUMBER
	CONTROL			"Use Chroma",
					IDC_FC_USECHROMA, BUTTON, BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP, 7, 98, 48, 10 

	GROUPBOX		"Overlay(for Preview)",	IDC_STATIC,	105, 3, 98, 111 
	RTEXT			"Width",				IDC_STATIC,	107, 18, 45, 7 
	RTEXT			"Height",				IDC_STATIC,	107, 34, 45, 7 
	RTEXT			"Opacity(0-255)",		IDC_STATIC,	107, 49, 45, 7 
	PUSHBUTTON		"PickColor...",
					IDC_FC_PICK_COLOR,	114, 64, 38, 15 
	EDITTEXT		IDC_FC_WIDTH,		155, 16, 40, 12, ES_LEFT | WS_BORDER | ES_NUMBER
	EDITTEXT		IDC_FC_HEIGHT,		155, 32, 40, 12, ES_LEFT | WS_BORDER | ES_NUMBER
	EDITTEXT		IDC_FC_OPACITY,		155, 47, 40, 12, ES_LEFT | WS_BORDER | ES_NUMBER
	LTEXT			"",
					IDC_FC_COLOR,		155, 64, 40, 15, SS_SUNKEN
END
